---
---

@import "minimal-light";

.about-illustration {
    max-width: none !important;
    flex-shrink: 0;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.upper-right {
    margin-right: -250px;
}

.lower-left {
    margin-left: -25px;
}

@media (max-width: 800px) {
    .mobile-stack {
        flex-direction: column !important;
        align-items: center !important;
        gap: 0 !important;
    }

    .about-illustration {
        opacity: 0.25;
        width: 80% !important;
        height: auto;
        margin: 0 auto -150px auto !important;
        z-index: 0;
        pointer-events: none;
    }

    .mobile-stack div {
        z-index: 2;
        background: transparent;
    }
}